[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-mysqldb = "*"
pyopenssl = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
pyjwt = "*"
numpy = "*"
keras = "*"
pathlib = "*"
tensorflow = "*"
matplotlib = "*"
flask-change-password = "*"
nltk = "*"
mysql-connector-python = "*"
tensorflow-ops = "*"
sqlalchemy = "*"
keras-models = "*"
pillow = "*"
"subprocess.run" = "*"
cuda-python = "*"
flask-marshmallow = "*"
tensorflow-estimator = "*"
streamlit = "*"
seaborn = "*"
pickle5 = "*"
opencv-python = "*"
mtcnn = "*"
dlib = "*"
ultralytics = "*"

[dev-packages]

[requires]
python_version = "3.8"
